* {
	vertical-align: baseline;
	border: 0 none;
	outline: 0;
	padding: 0;
	margin: 0;
	}


/* Part 1 Center Box */

.center-box {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: blue;
    min-height: 288px;
    margin-bottom: 100px;
}
.center-item {
    
    background-color: palegoldenrod;
    width:100px;
    height: 100px;
}


/* Part 2 Coding Dojo Nav Bar */

#nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #6495ED;
    height: 120px;
    
}
img {
    height: 60px;
    margin: 20px;
}
h1 {
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-size: x-large;
    margin-left: 50px;
    
}
ul {
    display: flex;
    justify-content: space-between;
    margin-left: 200px;
    
    width: 650px;
}
li {
    display: flex;
    align-items: center;
       
}
a {
    text-decoration: none;
    color: white;
}



